<div class="jumbotron">
  <h2>About Me</h2>


</div>

<!-- Example row of columns -->
<div class="row" style="padding:10px;padding-bottom:30px;">
  <div class="col-lg-7 text-columns">
      <p>Hello! My name is Lakshmikanth Kaushik. I'm currently pursuing a Masters degree in <a href="https://cse.osu.edu/" target="_blank">Computer Science</a> at The <a href="http://www.osu.edu/" target="_blank">Ohio State University</a>.
      </p>
      <p>Before this, I graduated from <a href="http://rvce.edu.in/" target="_blank">RV College of Engineering</a>, Bangalore, India, with an undergraduate degree in Computer Science and Engineering in 2013. Post my graduation, I spent 1 year working as a Software Engineer at <a href="http://www.cisco.com/" target="_blank">Cisco Systems</a> in Bangalore.
      </p>
      <p>
        I'm a full time web geek. Few things excite me more than building complex web frontends from scratch. I also have a very keen interest in working with unstructured data on the web, and trying to extract useful
        information out of it using Natural Language Processing and Machine Learning techniques.

      </p>
      <p>I’m passionate about music. I listen to all types of music. If you’re interested, do check out my <a href="http://8tracks.com/kaushlakers" target="_blank">8tracks profile</a> to see some of the playlists I’ve created. I would consider myself a proficient guitarist and a half decent singer. 
        I’m a religious follower of world soccer and a big Manchester United fan!

      </p>
  </div>
  <div class="col-lg-5">
    <!--h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p-->
      <!--img src='images/aboutme2.jpg' width="280" height="370"/-->
      <img src='images/aboutme3.jpg' class="img-responsive" style="width:95%; height:auto;"/>

  </div>

</div>
