<div class="jumbotron">
  <h2>Welcome To My Little Place On The Internet</h2>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_sharing_toolbox"></div>


</div>

<!-- Example row of columns -->
<div class="row" style="padding:10px;padding-bottom:30px;">
  <div class="col-lg-8 text-columns">
      <p>My name is Kaushik. I am a Masters student at the Ohio State University, Columbus, Ohio. I've recently just finished a summer internship at Amazon, Seattle. I'm back to school for the final year of my course. I will graduate during Spring 2016, and I'm currently looking
        for full time job opportunities in frontend design and development.
         Please do have a look around and contact me if you like what you see!   </p>
      <p>You can <b>contact me</b> using one of the nifty little glyphicons at the bottom right of the page.</p>
      <p>Also, click the button below for a cool ass backstretch image. But remember, once you go there, there's no coming back!</p>
      <button id="bs"type="button" ng-click="setBackstretch($event)" ng-disabled="backstretch.flag"  class="btn btn-primary">{{backstretch.text}}</button>
      <br/><br/><br/><br/><br/><br/>

    <p class=''><span style="font-weight:bold;">Disclaimer: </span>The above mentioned (irreversible)feature is not a demonstration of my javascript skills. It is merely a reflection of my sometimes disappointing sense of humor.</p>
    </div>
  <div class="col-lg-4">
    <!--h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p-->
      <img src='images/dp.jpg'/ class="img-responsive" style="width:95%; height:auto; margin:0 auto;">
  </div>

</div>
