<div class="jumbotron">
  <h2>Welcome To My Little Place On The Internet</h2>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_sharing_toolbox"></div>
</div>
<!-- Example row of columns -->
<div class="row" style="padding:10px;padding-bottom:30px;">
  <div class="col-lg-8 text-columns">
      <p>My name is Kaushik. I'm a software developer and I do web stuff at Twitter. This website is pretty outdated and my LinkedIn might be in better shape to tell you what I'm really up to. <br />

      <p>You can <b>contact me</b> using one of the mediums at the bottom of the page (Twitter probably the fastest).</p>
      <button id="bs"type="button" ng-click="setBackstretch($event)" ng-disabled="backstretch.flag"  class="btn btn-primary">{{backstretch.text}}</button>
      <br/><br/><br/>
    <p class=''><span style="font-weight:bold;">Disclaimer: </span>The above mentioned (irreversible)feature is not a demonstration of my javascript skills. It is merely a reflection of my sometimes disappointing sense of humor.</p>
    </div>
  <div class="col-lg-4">
      <img src='images/dp.jpg'/ class="img-responsive" style="width:95%; height:auto; margin:0 auto;">
  </div>

</div>
