<div class="jumbotron">
  <h2>Work Experience</h2>


</div>

<div class="row" style="padding:10px;padding-bottom:30px;">
  <div class="col-lg-12 text-columns">
      <h2 style="color:#585858;">Amazon Web Services</h2>
      <p> I interned at Amazon Web Services, Seattle over the summer of 2015. </p>

      <br/>
        <h4 class="project-name">Amazon QuickSight: UI Team</h4>
        </p>
        <p class="skill-list">
          <button type="button" class="btn btn-default btn-xs no-click">ReactJS</button>
          <button type="button" class="btn btn-default btn-xs no-click">D3.JS</button>
          <button type="button" class="btn btn-default btn-xs no-click">Flux</button>
          <button type="button" class="btn btn-default btn-xs no-click">Css-Sass</button>
          <button type="button" class="btn btn-default btn-xs no-click">DynamoDB</button>
          <button type="button" class="btn btn-default btn-xs no-click">Spring</button>
        </p>
        <p>
            I was a part of the team that worked on Amazon's recently released <span style="font-weight: bold">Business Intelligence product - QuickSight </span>. Aligning myself with my interests and previous experience, I chose to work on the UX Engineering team. Working on such a large application at a company like Amazon was a great experience. I got to interact with some of the smartest front end engineers and designers on a daily basis. I was also given the task to implement on of the key features for the product - Storytelling. The feature gives the user the opportunity to capture visualizations and analysis performed and share them with others.
        </p>
        <p>
          From a technology standpoint, I worked on some really cool front end technologies like React, Flux and Sass, as well as DynamoDB on the back end.
        </p>
        <br/>


  </div>
<!-- Example row of columns -->
<div class="row" style="padding:10px;padding-bottom:30px;">
  <div class="col-lg-12 text-columns">
      <h2 style="color:#585858;">Cisco Systems </h2>
      <p> I worked at Cisco Systems as an IT Engineer for 1 year between July 2013 and July 2014 following a 4 month internship. I was part of the Cisco Commerce IT team, which was responsible for developing and maintaining the Cisco Commerce tools - Cisco Commerce Workspace and Cisco Service Contract Center.

      </p>
        <p>During this time, I got to work on a variety of projects across many areas. Some of the projects worth mentioning are as follows:


        <br/><br/>
        <h4 class="project-name">Cisco Commerce UI:</h4>
        </p>
        <p class="skill-list">
          <button type="button" class="btn btn-default btn-xs no-click">Html</button>
          <button type="button" class="btn btn-default btn-xs no-click">Javascript</button>
          <button type="button" class="btn btn-default btn-xs no-click">AngularJS</button>
          <button type="button" class="btn btn-default btn-xs no-click">RequireJS</button>
          <button type="button" class="btn btn-default btn-xs no-click">Java</button>
          <button type="button" class="btn btn-default btn-xs no-click">Spring</button>
        </p>
        <p>
            Was one of the main frontend developers in a large team of around 50 people. Completely revamped the UI for the Cisco Commerce tool using the AngularJS framework.
            Personally took the initiative to implement lazy loading of modules using RequireJS.
        </p>
        <br/>

        <h4 class="project-name">Release Management Console(UI):</h4>
        </p>
        <p class="skill-list">
          <button type="button" class="btn btn-default btn-xs no-click">Html</button>
          <button type="button" class="btn btn-default btn-xs no-click">Javascript</button>
          <button type="button" class="btn btn-default btn-xs no-click">JQuery</button>
          <button type="button" class="btn btn-default btn-xs no-click">Java</button>
          <button type="button" class="btn btn-default btn-xs no-click">Spring</button>
          <button type="button" class="btn btn-default btn-xs no-click">HBase</button>
          </p>
          <p>
            Developed the complete user interface for build deployment and test automation. Also did some backend work on HBase to integrate with UI.
          </p>
          <br/>
        <h4 class="project-name">Contract Management (mobile App and web service):</h4>
        </p>
        <p class="skill-list">
          <button type="button" class="btn btn-default btn-xs no-click">Android</button>
          <button type="button" class="btn btn-default btn-xs no-click">Java</button>
        </p>
        <p>
          As a part of my internship, I developed an Android application for Product Contract Management to help distributors look-up details of their contracts as well as update locations on them. Developed the mobile app UI as well as the web services for the application.
        </p>
        <br/>
  </div>
</div>
